<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.outputs"
        version   = "1.0.0">

    <name>JL's modality button</name>

    <description>
        Hello World sample application created by JL that includes a button for modality function.
    </description>

    <author href="Joe Leith" email="leij1_15@uni.worc.ac.uk">
        Joe Leith, Worcester Uni Student
    </author>


        <plugin name="cordova-plugin-dialogs" />
        <plugin name="cordova-plugin-vibration" />
        <plugin name="cordova-plugin-whitelist" />
  
        <access origin="*"/>
  
</widget>
